#body {
  background-color: black;
}

#games {
  color: red;
}

#input {
  color: red;
}

.links {
  color:  black;
}

.navbar {
  background-color: white;
}
.profile {
  margin: 50px;
}
#rosterpage {
  color: white
}
#thisGame {
  color: white
}
#welcome {
  color:  white;
}