<div ng-include="'views/partials/nav.html'"></div>
<section id="rosterGame" ng-init="rc.getThisGame()">
    <div class="container" id="thisGame">
            <p>Game:</p> {{rc.thisGame.data[0].date | date:'MMMM d, yyyy'}} {{rc.thisGame.data[0].city}}, {{rc.thisGame.data[0].state}} {{rc.thisGame.data[0].team1}} v {{rc.thisGame.data[0].team2}}
    </div>
    <div class="container" ng-init="rc.getRefs()">
        <div id="input">
        Add ref: <select ng-model="rc.derbyNameIn" value = "ref.derbyname">
                    <option  ng-repeat="ref in rc.allRefs.data">
                    {{ref.derbyname}}</option>
                </select>
                <!-- Name: <input type="text" ng-model="rc.derbyNameIn"  class="gameIn"> -->
                HR:<input type="number" ng-model="rc.hrIn"  class="gameIn">
                IPR:<input type="number" ng-model="rc.iprIn" class="gameIn">
                JR:<input type="number" ng-model="rc.jrIn" class="gameIn">
                OPR:<input type="number" ng-model="rc.oprIn" class="gameIn">
                <button type="button" class="btn" ng-click="rc.addRef()">Add Ref</button>     
        </div>
    </div>    
    <div class="container" id="rosterOutput">
        <div class="col-md-6">
            <div>
                <h3>Refs:</h3>
                    <ul>
                        <li ng-repeat="ref in rc.refArray">{{ref.derbyname}}</li>
                    </ul>
                    <button type="button" class="btn"ng-click="rc.findRoster()">Generate</button>
            </div>    
            <div>
                <h3>Suggested Roster</h3>
                    <p>HR: {{rc.roster[0].derbyname}}</p>
                    <p>IPR: {{rc.roster[1].derbyname}}</p> 
                    <p>JR: {{rc.roster[2].derbyname}}</p>
                    <p>JR: {{rc.roster[3].derbyname}}</p>
                    <p>OPR: {{rc.roster[4].derbyname}}</p>
                    <p>OPR: {{rc.roster[5].derbyname}}</p>
                    <p>OPR: {{rc.roster[6].derbyname}}</p>
                    <p>ALT: {{rc.roster[7].derbyname}}</p>
                    <div id="buttons" ng-click="rc.getThisGame()">
                        <button type="button" class="btn" ng-click="rc.saveRoster()">Save</button>
                    </div>
            </div>
        
        </div>
        <div class="col-md-6">
            <h2>Final Roster</h2>
            <p>HR: {{rc.thisGame.data[0].headref_name}}</p>
            <p>IPR: {{rc.thisGame.data[0].ipr_name}}</p>
            <p>JR: {{rc.thisGame.data[0].jr1_name}}</p>
            <p>JR: {{rc.thisGame.data[0].jr2_name}}</p>
            <p>OPR: {{rc.thisGame.data[0].opr1_name}}</p>
            <p>OPR: {{rc.thisGame.data[0].opr2_name}}</p>
            <p>OPR: {{rc.thisGame.data[0].opr3_name}}</p>
            <p>OPR: {{rc.thisGame.data[0].alt_name}}</p>
        </div>
    </div>
</section>
        