<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
    
    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.username}}!</h1>
   

</div>

<section ng-controller="ProfileController as pc">
    <div class="container" id="profile" ng-init="pc.getProfile()">
        Derby Name: {{pc.profileInfo.data.derbyname}}
        League: {{pc.profileInfo.data.league}}
    </div>
</section>

<section ng-controller="GamesController as gc" class="container" id="games"> 
        <h2 ng-init="gc.getGames()">Add Games</h2>
        <div id="addInput">
            <input type=date placeholder="Date" ng-model="gc.dateIn">
            <input type=text placeholder="Location" ng-model="gc.cityIn">
            <input type=text placeholder="Location" ng-model="gc.stateIn">
            <input type=text placeholder="Team 1" ng-model="gc.team1In">
            <input type=text placeholder="Team 2" ng-model="gc.team2In">
            <button type="button" class="btn btn-primary" ng-click="gc.addGame()">Add</button> 
        </div>
        <div> 
        <p ng-repeat="game in gc.gameList.data"><a href="#/roster" ng-click="gc.sendThisGame(game)">
            {{game.date | date:'MMMM d, yyyy'}} {{game.city}} {{game.state}} {{game.team1}} v {{game.team2}}
        </a></p>
        </div>    
    </section>